:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {

    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
    margin: 1rem;
    background-color: rgb(247, 247, 172);

    border: 3px solid #979696;

}

header img {
    width: 120px;
    margin: 5px auto;
}

.navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    text-decoration: none;
    padding: 10px 1rem;
    color: rgb(78, 136, 212);
    font-size: 1.5rem;
    font-weight: bold;

}

.navigation a:hover {
    background-color: var(--accent2-color);
    text-decoration: underline;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1 h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
article {
    margin: 16px;
    padding: 9px;
}

section {
    margin: 12px 0;
    padding: 5px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    margin-top: 10px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

h2 {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    text-align: center;

}

.hero article {
    position: absolute;
    bottom: 200px;
    background-color: var(--accent1-color);
    color: #fff;
    opacity: 0.8;
}

.hero article img {
    float: right;
    width: 125px;
}

.history {
    border: 2px dashed var(--primary-color);
    background-color: var(--accent2-color);
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20PX;
}

.history-content p {
    padding: 0;
    margin-top: 0
}

.trips img {
    width: 150px;
}

.trips {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    margin-top: 20px;
}

figcaption {
    justify-self: center;
    font-size: 1.1rem;
}

/*This is the CSS for the contact.html*/
.contact {
    background-color: rgb(148, 233, 155);
}

.contact p {
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 1.5rem;

}

.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 10px 0;
    gap: 15px;
    background-color: rgb(243, 242, 242);
    padding: 5px;

}

iframe {
    width: 350px;
    height: 400px;
}

form {
    display: grid;
    gap: 10px;
    margin: 0 auto;
    width: 400px
}

input,
button,
textarea {
    padding: .5rem;
    font-size: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
}

input[type="checkbox"],
[type="radio"] {
    width: 20px;
    height: 18px;
    margin-right: 10px;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr 3fr;
}

.purpose-options {
    display: flex;
    flex-direction: column;
}

.purpose-options label {
    padding: 5px;
}

button {
    background-color: var(--accent1-color);
    color: #fff;
    font-size: 1.3rem;
    font-style: italic;
    margin-top: 5px;
    border: none;
    padding: 10px;
    position: relative;
    z-index: 1;
    transition: transform 0.2s ease, z-index 0s;
}

button:hover {
    z-index: 10;
    background-color: rgb(44, 68, 44);
    transform: scale(1.05);
    cursor: pointer;
}

.arac-employee {
    background-color: rgb(241, 241, 199);
}

.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-left: 40px;
    padding: 20px;
    align-items: center;
    justify-content: space-around;

}

.employees img {
    width: 200px;
    height: 130px;
}

.arac-employee p {
    color: #000;
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
}

footer {
    border-top: 1px solid var(--secondary-color);
    display: grid;
    grid-template-columns: 600px 250px;
    grid-gap: 20px;
    align-items: center;
    background-color: rgb(222, 235, 198);

}