:root {
    --color: darkblue;
    --text-align: center;
    --secondary-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--color);
    padding: 10px
}

nav a {
    color: var(--secondary-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: var(--text-align);
    position: relative;
}

aside h2 {
    position: absolute;
    top: 45px;
    left: 110px;
    color: white;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000000;
    text-align: var(--text-align);
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}