* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
}

header p {
    font-size: 2em;
}

main h1 {
    text-align: center;
    margin-top: 10px;
    padding-top: 15px;
    font-size: 2.5em;
}

picture img {
    display: block;
    max-width: 450px;
    margin: 15px auto;
    box-shadow: 5px 5px 20px #333333;
}

section {
    margin: 25px auto;
    padding: 20px;
    background-color: #dddddd;
    max-width: 450px;
    line-height: 1.5em;
}

section p {
    margin-top: 10px;
}

section h2 {
    border-bottom: 1px solid #333333;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

section ul {
    padding-left: 25px;
}